@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

.Subscribe {
  /* text-align: center; */
  margin-top: 0;
  height: 400px;
}

.mobile-subscribe {
  /* text-align: center; */
  margin-top: 0;
  height: 370px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; 
} */


.App-body1 {
  background-color: white;
  min-height: 75vh;
  /*font-size: calc(2.5vw + 2.5vh);*/
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  color: #1E1E1E;
}
/*
.App-body2 {
  background-color: white;
  font-size: calc(1vw + 1vh);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/

.big {
  font-size: 50px;
  /* margin: 1vh; */
  margin-top: 1vh;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
}

.big-mobile {
  font-size: 27px;
  margin-top: 1vh;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
}


.small {
  /* display: flex;
  margin-left: 40vw; */
  padding-top: 4vh;
  font-size: 22px;
  font-weight: 400;
}

.small-mobile {
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Inter';
  font-style: normal;
}

/* .mobile-small {
  display: flex;
  text-align: center;
} */

.small2 {
  /* display: flex; */
  padding-top: 0.3vh;
  /* margin-left: 32vw; */
  font-size: 22px;
  font-weight: 400;
}

.subscribe-1 {
  display: flex;
  padding-top: 4vh;
  justify-content: space-between;
  vertical-align: bottom;
}

.befr {
  padding: 10px;
}

.befr2 {
  padding: 15px;
}

.besofr {
  padding: 100px;
}

.mobile-subscribe-box-1 {
  display: flex;
  /*padding: 2vh;*/
  height: 51px;
  position: absolute;
  left: 10vw;
  color: purple;
  width: 75vw;
  border-radius: 5vh;
  /*border-color: linear-gradient(#6B32B5, #6736B7, #5B42C0, #4857CF, #2E74E4, #0D99FF);*/
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #0D99FF, #2E74E4, #4857CF, #5B42C0, #6736B7, #6B32B5) border-box;
  border: 2px solid transparent;
  margin-top: auto;
  margin: auto;
  text-indent: 3vw;
}

.subscribe-box-1 {
  display: flex;
  margin-top: auto;
  /*padding: 2vh;*/
  height: 7vh;
  position: absolute;
  left: 35vw;
  color: purple;
  width: 27vw;
  border-radius: 5vh;
  /*border-color: linear-gradient(#6B32B5, #6736B7, #5B42C0, #4857CF, #2E74E4, #0D99FF);*/
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #0D99FF, #2E74E4, #4857CF, #5B42C0, #6736B7, #6B32B5) border-box;
  border: 2px solid transparent;
  margin: auto;
  
}

/* input{
  text-indent: 1.5vw;
  font-size: 16px;
} */

/* Mobile-specific "Enter your email" styling */
@media (max-width: 513px) {
  .mobile-subscribe-box-1 {
    padding-left: 10px
  }
  .mobile-subscribe-box-1::placeholder {
    /* Mobile-specific placeholder text styles */
    font-size: 18px;

  }
}

/* Desktop-specific "Enter your email" styling */
@media (min-width: 514px) {
  .subscribe-box-1 {
    /* Desktop-specific input styles */
    padding-left: 40px;
    text-indent: 0;
    font-size: 20px;
    color: black;
  }

  .subscribe-box-1::placeholder {
    /* Desktop-specific placeholder text styles */
    font-size: calc(0.75vw + 0.75vh);

  }
}

.mobile-subscribe-button-1 {
  display: flex;
  position: relative;
  /*padding: 10%;*/
  height: 51px;
  background-color: #6B32B5;
  left: 60vw;
  width: 32vw;
  color: white;
  border-radius: 5vh;
  border: none;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-top: auto;
}

.subscribe-button-1 {
  display: flex;
  margin-top: auto;
  margin: auto;
  position: relative;
  /*padding: 10%;*/
  height: 7.44vh;
  background-color: #6B32B5;
  left: 10vw;
  width: 200px;
  color: white;
  border-radius: 5vh;
  border: none;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.subscribe-button-1:hover{
  background-color: #15347d;
  color: #ffff;
}

.mobile-subscribe-button-1:hover{
  background-color: #15347d;
  color: #ffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}